
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1350px;
}
.container{
    width: 85%;
    margin: auto;
}

.nav-bar{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul{
    display: flex;
    gap: 26px;
}
.nav-ul li{
    list-style: none;
}
.nav-ul a{
    text-decoration: none;
    color: black;
}
.nav-btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color:#30B868;
}
.nav-btn a{
    color: white;
    text-decoration: none;
}

/* header section start here  */

.header-section{
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-div{
    text-align: center;
    width: 50%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

 /* common class  */
 .display{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .header-btn{
    gap: 20px;
 }
 .header-1{
    border: none;
    font-size: 16px;
    gap: 0px 5px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
 }
 .header-1 a{
    text-decoration: none;
    color: white;
 }

.header-2{
    border: none;
    font-size: 16px;
    gap: 0px 5px;
    padding: 12px 16px;
    border-radius: 4px;
    /* background-color: #30B868; */
    background: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
}
.header-2 a{
    text-decoration: none;
    color: white;
}

/* First block section start here  */

 
.first-block-title{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.first-block-title h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.block-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 50px 0px;
    
}
.card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 10px 4px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}
.block-1b{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 83, 83);
    padding: 50px;
    border-radius: 50%;
}
.img-class{
     width: 30px;
    height: 30px;
    color: white;
}
.card-1 img{
    width: 60px;
    height: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* brain structure section start here  */

.brain-structure{
     gap: 60px;
}
.img-about-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-about-section h4{
    font-size: 16px;
    font-weight: 500;
    color: #3f8657;
}
.img-about-section h1{
    font-size: 48px;
    font-weight: 700;
}
.about-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.items{
    display: flex;
    float: left;
    gap: 7px;
}

.last-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 80px 40px;
    border-radius: 12px;
    background-color: #f0efef;
}
.last-block p{
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}